<template>
  <div id="wrapper">
    <!-- <img id="logo" src="./assets/logo.png" alt="electron-vue" /> -->
    <main>
      <p>
        vk-discord
      </p>

      <div v-if="status && status.audio">
        <p>
          {{ status.audio.artist || "no artist" }}
        </p>
        <p>
          {{ status.audio.title || "no name" }}
        </p>
      </div>
      <div v-if="status && status.text">
        {{ status.text || "no status" }}
      </div>
      <div v-else>
        {{ "not found" }}
      </div>
    </main>
  </div>
</template>

<script>
import { ipcRenderer } from "electron";

const isRequireDiscord = true;
Discord.create("338260367551627267", isRequireDiscord);

const activity = {
  details: "Details",
  state: "State",
  assets: {
    largeImage: "large",
    largeText: "Large",
    samllImage: "small",
    smallText: "Small",
  },
  timestamps: {
    startAt: new Date(),
    endAt: new Date(),
  },
  secrets: {
    match: "match",
    join: "join",
    spectate: "spectate",
  },
  party: {
    id: "id",
    currentSize: 1,
    maxSize: 5,
  },
};
Discord.Activity.update(activity)
  .then(function() {
    console.log("Rich Presence updated");
  })
  .catch(console.error);

setInterval(function() {
  Discord.runCallback(); // => true
}, 1000 / 60);

export default {
  name: "landing-page",
  data: () => ({
    status: null,
    userId: null,
  }),
  mounted() {
    ipcRenderer.once("user-id", (e, id) => {
      this.userId = id;

      setInterval(() => {
        this.getStatus();
      }, 5000);
    });
  },
  methods: {
    async getStatus() {
      try {
        const res = await fetch(`http://localhost:3000/status/${this.userId}`);

        const json = await res.json();

        console.log(json);

        this.status = json;
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

#wrapper {
  background: radial-gradient(
    ellipse at top left,
    rgba(255, 255, 255, 1) 40%,
    rgba(229, 229, 229, 0.9) 100%
  );
  height: 100vh;
  padding: 60px 80px;
  width: 100vw;
}

#logo {
  height: auto;
  margin-bottom: 20px;
  width: 420px;
}

main {
  display: flex;
  justify-content: space-between;
}

main > div {
  flex-basis: 50%;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.welcome {
  color: #555;
  font-size: 23px;
  margin-bottom: 10px;
}

.title {
  color: #2c3e50;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.title.alt {
  font-size: 18px;
  margin-bottom: 10px;
}

.doc p {
  color: black;
  margin-bottom: 10px;
}

.doc button {
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #4fc08d;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #4fc08d;
}

.doc button.alt {
  color: #42b983;
  background-color: transparent;
}
</style>
